body{
    background: #303030;
  }
  
  .contenedor {
    position: relative;
    height: 408px;
    width: 612px;
    margin: 50px 20px;
    float: left;
  }
  
  .contenedor img {
    position: absolute;
    left: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .contenedor img.top:hover {
    opacity: 0;
  }