@import url("https://fonts.googleapis.com/css?family=Roboto:100");

body {
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.container{
  position: relative;
}
.coolBeans {
  border: 2px solid currentColor;
  border-radius: 3rem;
  color: #ff0;
  font-family: roboto;
  font-size: 4rem;
  font-weight: 100;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  overflow: hidden;
}
.coolBeans::after {
  background-color: #ff0;
  border-radius: 3rem;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  /*width: 0;*/
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(150%, 0%) rotate(45deg);
  transform-origin: top left;
  transition: 0.5s transform, 0.5s with ease-out;
  will-change: transform;
  z-index: -1;
  overflow: hidden;
  
}
.coolBeans:hover {
  border: 2px solid transparent;
  color: #4b0082;
  transform: scale(1.05);
  will-change: transform;
  width: 100%;
}
.coolBeans:hover::after {
  transform: translate(0, 0);
  width: 100%;
}